<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

        <form method="post" style="max-width:600px;" th:object="${recipe}">
		    <div class="form-group">
		        <label th:for="name"></label>
		        <input class="form-control" th:field="*{name}" />
		        <span th:errors="${recipe.name}" class="error"></span>
		    </div>

		  	<input type="submit" value="Add Recipe" />
		</form>
		
		
 	    <table class="table">
			<tr th:each="recipe : ${recipes}">
			<td>
				<div th:text="${recipe.name}"></div>
			</td>				
			
		    </tr>
		</table>
	  	
	</body>
</html>