<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

        <form method="post" style="max-width:600px;" th:object="${recipe}">
		    <div class="form-group">
		        <label th:for="name"></label>
		        <input class="form-control" th:field="*{name}" />
		        <span th:errors="${recipe.name}" class="error"></span>
		    </div>

		  	<input type="submit" value="Add Recipe" />
		</form>
		
		<form method="post">
 	    <table class="table">
			<tr th:each="recipe : ${recipes}">
			
			<td>
		        <input type="checkbox" name="recipeIds" th:value="${recipe.id}" th:id="${recipe.id}"/>
			</td>
			
			<td>
				<label th:for="${recipe.id}">
					<a th:href="@{'/recipe/' + ${recipe.id}}" th:text="${recipe.name}"></a>
				</label>
			</td>				
			
		    </tr>
		</table>
								
		<input type="submit" value="Add Recipe(s) to List" />
	  	</form>
	  	
	</body>
</html>