<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

	  	<form method="post" style="max-width:600px;" th:object="${item}">
		    <div class="form-group">
		        <label th:for="name"></label>
		        <input class="form-control" th:field="*{name}" />
		        <span th:errors="${item.name}" class="error"></span>
		    </div>

		  	<input type="submit" value="Add Item" />
		</form>
		
		
		<form th:if="${recipe.recipeItems.size()}" method="post">
	    <table class="table">
			<tr th:each="item : ${recipe.recipeItems}">
			<td>
		        <input type="checkbox" name="itemIds" th:value="${item.id}" th:id="${item.id}"/>
			</td>
		    <td>
			    <label th:for="${item.id}">
 					<a th:href="@{'/edit/' + ${item.id}}" th:text="${item.name}"></a>
			    </label>
			</td>				
			
			<td th:if="${item.type}" th:text="${item.type.name}">
			</td>
				
			<td th:if="${item.aisle}" th:text="${item.aisle.name}">
			</td>
		    </tr>
		</table>
						
		
		<input type="submit" value="Delete Item" />
	  	</form>
	  	
	</body>
</html>