<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

        <form method="post" style="max-width:600px;" th:object="${userItem}">
		    <div class="form-group">
		        <label th:for="name"></label>
		        <input class="form-control" th:field="*{name}" />
		        <span th:errors="${userItem.name}" class="error"></span>
		    </div>

		  	<input type="submit" value="Add Item" />
		</form>
		
	    <form th:if="${items.size()}" method="post">
	    <table class="table">
			<tr th:each="item : ${items}">
			<td>
		        <input type="checkbox" name="itemIds" th:value="${item.id}" th:id="${item.id}"/>
			</td>
		    <td>
			    <label th:for="${item.id}">
 					<a th:href="@{'/edit/' + ${item.id}}" th:text="${item.name}"></a>
			    </label>
			</td>				
			
			<td th:if="${item.type}" th:text="${item.type.name}">
			</td>
				
			<td th:if="${item.aisle}" th:text="${item.aisle.name}">
			</td>
			
			<td>
				<label th:for="${item.id}">
					<button type="submit" name="itemId" th:value="${item.id}" class="fas fa-trash-alt"></button>
				</label>
			</td>
		    </tr>
		</table>
						
		
		<input type="submit" value="Delete Item(s)" />
		
	  	</form>
	  	
	  	<form th:if="${items.size()}" method="post">  
	  		<span th:each="item : ${items}">
		        <input type="hidden" name="itemIds" th:value="${item.id}" th:id="${item.id}"/>
			</span>
	  		<input type="submit" value="Clear List" />
	  	</form>
	  	
	</body>
</html>