<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<h1 th:text="${title}">Default Title</h1>

        <form method="post" style="max-width:600px;" th:object="${userItem}">
		    <div class="form-group">
		        <label th:for="name"></label>
		        <input class="form-control" th:field="*{name}" />
		        <span th:errors="${userItem.name}" class="error"></span>
		    </div>

		  	<input type="submit" value="Add Item" />
		</form>
		
	    <form  method="post">
	    <table th:if="${items.size()}"class="table">
			<tr th:each="item : ${items}">
			
			<td th:if="${item.checked}">
				<button type="submit" name="checkItemId" th:value="${item.id}" class="fas fa-check"></button>
			</td>
			
			<td th:unless="${item.checked}">
				<button type="submit" name="unCheckItemId" th:value="${item.id}"></button>
			</td>
			
		    <td>
		    	<a th:href="@{'/edit/' + ${item.id}}" th:text="${item.name}"></a>
			</td>				
			
			<td th:if="${item.type}" th:text="${item.type.name}">
			</td>
				
			<td th:if="${item.aisle}" th:text="${item.aisle.name}">
			</td>
			
			<td>
				<label th:for="${item.id}">
					<button type="submit" name="itemId" th:value="${item.id}" class="fas fa-trash-alt"></button>
				</label>
			</td>
		    </tr>
		</table>
	  	</form>
	  	
	  	<form th:if="${items.size()}" method="post">  
	  		<span th:each="item : ${items}">
		        <input type="hidden" name="itemIds" th:value="${item.id}" th:id="${item.id}"/>
			</span>
	  		<input type="submit" value="Clear List" />
	  	</form>
	  	</div>
	  	
	</body>
</html>