<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
 
 <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Grocery List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<h1 th:text="${title}">Grocery List</h1>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div>
            	<input type="submit" value="Sign In"/>
            	<a href="http://localhost:8080/signup">Sign Up</a>
            </div>
            
        </form>
        
    </body>
</html>