<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 mx-auto">
						<h1>Grocery List</h1>
						<div class="container"></div>
						<!-- form card login -->
						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Sign Up</h3>
							</div>
							<div class="card-body">

								<form class="form" role="form" autocomplete="off" id="formLogin"
									novalidate="" method="POST" action="">
									<div class="form-group">
										<input type="text"
											class="form-control form-control-med rounded-0"
											name="firstName" th:value="${user.firstName}"
											placeholder="First Name" />
										<div th:errors="${user.firstName}" class="alert alert-danger"
											role="alert"></div>

									</div>

									<div class="form-group">
										<input class="form-control form-control-med rounded-0"
											type="text" name="lastName" th:value="${user.lastName}"
											placeholder="Last Name" />
										<div th:errors="${user.lastName}" class="alert alert-danger"
											role="alert"></div>
									</div>


									<div class="form-group">
										<input class="form-control form-control-med rounded-0"
											type="email" name="email" th:value="${user.email}"
											placeholder="email@email.com" />

										<div th:errors="${user.email}" class="alert alert-danger"
											role="alert"></div>
										<div th:if="${userError}" th:text="${userError}"
											class="alert alert-danger" role="alert"></div>

									</div>

									<div class="form-group">
										<input class="form-control form-control-med rounded-0"
											type="password" name="password" placeholder="Password" />

										<div th:errors="${user.password}" class="alert alert-danger"
											role="alert"></div>
										<div th:if="${passwordError}" th:text="${passwordError}"
											class="alert alert-danger" role="alert"></div>
									</div>

									<div class="form-group">
										<input class="form-control form-control-med rounded-0"
											type="password" name="verifyPassword"
											placeholder="Verify Password" />
										<div th:if="${verifyError}" th:text="${verifyError}"
											class="alert alert-danger" role="alert"></div>
									</div>
									<div class="col text-center">
										<button class="btn btn-outline-secondary clear btn-block"
											type="submit">Sign Up</button>
									</div>
								</form>
							</div>
							<!--/card-block-->
						</div>
						<!-- /form card login -->
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/col-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->
</body>
</html>
