<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container">
		    <div class="row">
		        <div class="col-md-12">
		            <div class="row">
		                <div class="col-md-6 mx-auto">
							<h1>Grocery List</h1>
		                    <!-- form card login -->
		                    <div class="card rounded-0">
		                        <div class="card-header">
		                            <h3 class="mb-0">Sign Up</h3>
		                        </div>
		                        <div class="card-body">
		                 
		                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">	
		                                <div class="form-group">                                
		                                    <label> First Name: </label>
		                                    <input type="text" class="form-control form-control-med rounded-0" name="firstName" th:value="${user.firstName}"/>
	            							<span th:errors="${user.firstName}" class="error"></span>
		                                </div>
		                                
		                                <div class="form-group">                                
		                                    <label> Last Name: </label>
		                                    <input class="form-control form-control-med rounded-0" type="text" name="lastName" th:value="${user.lastName}"/>
	            							<span th:errors="${user.lastName}" class="error"></span>
		                                </div>
		                                
		                                
		                                <div class="form-group">                                
		                                    <label> Email: </label>
		                                    <input class="form-control form-control-med rounded-0" type="email" name="email" th:value="${user.email}"/>
	            							<span th:errors="${user.email}" class="error"></span>
	            							<span th:text="${userError}" class="error"></span>
		                                </div>
		                                
		                       	        <div class="form-group">                                
		                                    <label> Password:  </label>
		                                    <input class="form-control form-control-med rounded-0"  type="password" name="password"/>
	            							<span th:errors="${user.password}" class="error"></span>
	            							<span th:text="${passwordError}" class="error"></span>
		                                </div>
		                                
		                                <div class="form-group">                                
		                                    <label> Confirm Password:  </label>
		                                    <input class="form-control form-control-med rounded-0" type="password" name="verifyPassword"/>
	            							<span th:text="${verifyError}" class="error"></span>	
		                                </div>
		                                <a href="/login">Go Back</a>
		                                <button type="submit" class="btn btn-success btn-med float-right" value="Register">Sign Up</button>
		                            </form>
		                        </div>
		                        <!--/card-block-->
		                    </div>
		                    <!-- /form card login -->
		                </div>
		            </div>
		            <!--/row-->
		        </div>
		        <!--/col-->
		    </div>
		    <!--/row-->
		</div>
	<!--/container-->
	</body>
</html>
                