
.signout{
	padding: 0;
	border: none;
	background: none;
	color: rgba(0,0,0,.5);
	
}

.checked{
	color: white;
}

.item-button {
	padding: .1rem .3rem;
	font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.custom-head {
  border-top: 0;
}